<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>

		<ul>
			<li>Id : {{idFriend}}</li>
			<li>Name : {{nameFriend}}</li>
			<li>Age : {{ageFriend}}</li>
			<li>Famille : {{familleFriend}}</li>
			<li>Race : {{raceFriend}}</li>
		</ul>
		<p>If you want add her/him to your list friend, remember id of your friend</p>

	</body>
</html>